<section class="hero d-flex flex-column justify-content-center align-items-center text-center">
  <img src="assets/img/foto-perfil.png" alt="Foto de Rami" class="rounded-circle shadow mb-3" width="150">
  
  <h1 class="fw-bold text-primary">¡Hola! Soy Ramiro Zarate 👋</h1>
  <h4 class="text-secondary mb-3">Desarrollador de Software</h4>

  <p class="lead w-75 mx-auto mb-4 text-muted">
    Apasionado por la tecnología, el aprendizaje constante y la creación de soluciones digitales eficientes.
  </p>

  <div>
    <a href="#proyectos" class="btn btn-primary me-2">Ver Proyectos</a>
    <a href="datos" class="btn btn-outline-primary">Contacto</a>
  </div>
</section>
