<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <a class="navbar-brand" routerLink="/">MI PORFOLIO</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menuNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
         <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/datos']">Datos Personales</a>
        </li>
            <li class="nav-item">
          <a class="nav-link" [routerLink]="['/proyectos']">Proyectos</a>
        </li>               
            <li class="nav-item">
          <a class="nav-link" [routerLink]="['/skills']">skills</a>
        </li>
    

      </ul>
    </div>

</nav>




  </div>