<footer class="text-center text-lg-start bg-light text-muted mt-5 border-top">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Conectemos:</span>
    </div>

    <div>
      <a href="https://github.com/ZarateRamiro" target="_blank" class="me-4 text-reset">
        <i class="bi bi-github fs-4"></i>
      </a>
      <a href="https://www.instagram.com/ramirozaratef/" target="_blank" class="me-4 text-reset">
        <i class="bi bi-linkedin fs-4"></i>
      </a>
      <a href="ramirozarate58@gmail.com" class="me-4 text-reset">
        <i class="bi bi-envelope fs-4"></i>
      </a>
    </div>
  </section>

  <section class="p-4 text-center" style="background-color: #f5f6fa;">
    <div class="container">
      <p class="mb-1 fw-semibold text-primary">
        <i class="bi bi-code-slash"></i> Desarrollado por Rami
      </p>
      <p class="small mb-0 text-secondary">
        © {{ currentYear }} Todos los derechos reservados.
      </p>
    </div>
  </section>
</footer>
